In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("learningSet.csv")
df

/var/folders/6g/z7c4_v2s4x5g_4nmtry98b2c0000gn/T/ipykernel_3919/1810309761.py:1: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("learningSet.csv")

,ODATEDW,OSOURCE,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,GRI,0,IL,61081,,,3712,0,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,BOA,1,CA,91326,,,5202,0,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,AMH,1,NC,27017,,,0,0,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,BRY,0,CA,95953,,,2801,0,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,,0,FL,33176,,,2001,0,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,ASE,1,AK,99504,,,0,0,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,DCD,1,TX,77379,,,5001,0,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,MBC,1,MI,48910,,,3801,0,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,PRV,0,CA,91320,,,4005,0,X,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,MCC,2,NC,28409,,,1801,0,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [4]:
for col in df.columns:
    print(df[col].isna().sum())

0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
23665
0
0
0
0
0
0
83026
21286
0
44732
0
52854
52854
52854
52914
52854
52854
52854
52854
52854
52854
52854
52854
52854
52854
0
0
0
0
0
0
0
0
0
0
0
43823
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
132
132
132
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1950
2191
33590
3557
8874
3511
11245
32748
10422
8923
40219
18867
65477
20364
27650
21263
24480
50200
35212
25648
56270
36973
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
95170
95131
95403
94636
86517
73940
78678
84951
80672
69712
83162
72095
88150
68418
86011
75634
79535
87524
85899
74539
87553
77674
95170
95131
95403
94636
86517
73940
78678
84951
80672
69712
83162
72095
88150
68418
86011
75634
79535
87524
85899
74539
87553
77674
0
0
0
0
0
0
0
0
0
0
9973
9973
0
0
0
0
0
0
0
0
0
0
0
132
132

In [5]:
drop_list = []
drop_list.extend(['OSOURCE', 'ZIP'])

In [6]:
drop_list

['OSOURCE', 'ZIP']

In [7]:
drop_list.extend(col for col in df.columns if df[col].isna().sum()>= 95412 * 0.85)
drop_list

['OSOURCE',
 'ZIP',
 'NUMCHLD',
 'RDATE_3',
 'RDATE_4',
 'RDATE_5',
 'RDATE_6',
 'RDATE_7',
 'RDATE_10',
 'RDATE_13',
 'RDATE_15',
 'RDATE_17',
 'RDATE_20',
 'RDATE_21',
 'RDATE_23',
 'RAMNT_3',
 'RAMNT_4',
 'RAMNT_5',
 'RAMNT_6',
 'RAMNT_7',
 'RAMNT_10',
 'RAMNT_13',
 'RAMNT_15',
 'RAMNT_17',
 'RAMNT_20',
 'RAMNT_21',
 'RAMNT_23']

In [8]:
df = df.drop(columns = drop_list)
df

,ODATEDW,TCODE,STATE,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,RECPGVG,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,,,3712,0,,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,,,5202,0,,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,,,0,0,,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,,,2801,0,,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,,,2001,0,X,X,,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,,,0,0,,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,,,5001,0,,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,,,3801,0,,X,,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,,,4005,0,X,,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,,,1801,0,X,,X,...,0.0,1,L,1,G,C,1,C,12.0,C

In [9]:
df['GENDER'].value_counts()

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [10]:
df['GENDER'] = df['GENDER'].fillna('F')
df['GENDER'].value_counts()

GENDER
F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: count, dtype: int64

In [11]:
df['GENDER'] = df['GENDER'].apply(lambda x: 'other' if x not in ['F', 'M'] else x)
df['GENDER'].value_counts()

GENDER
F        51277
M        39094
other     5041
Name: count, dtype: int64

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Columns: 454 entries, ODATEDW to GEOCODE2
dtypes: float64(72), int64(310), object(72)
memory usage: 330.5+ MB

In [21]:
numeric = df[[col for col in df.columns if df[col].dtype in ['float64', 'int64']]]
numeric

,ODATEDW,TCODE,DOB,AGE,INCOME,WEALTH1,HIT,MBCRAFT,MBGARDEN,MBBOOKS,...,FISTDATE,NEXTDATE,TIMELAG,AVGGIFT,CONTROLN,TARGET_B,TARGET_D,HPHONE_D,RFA_2F,CLUSTER2
0,8901,0,3712,60.0,NaN,NaN,0,NaN,NaN,NaN,...,8911,9003.0,4.0,7.741935,95515,0,0.0,0,4,39.0
1,9401,1,5202,46.0,6.0,9.0,16,0.0,0.0,3.0,...,9310,9504.0,18.0,15.666667,148535,0,0.0,0,2,1.0
2,9001,1,0,NaN,3.0,1.0,2,0.0,0.0,1.0,...,9001,9101.0,12.0,7.481481,15078,0,0.0,1,4,60.0
3,8701,0,2801,70.0,1.0,4.0,2,0.0,0.0,0.0,...,8702,8711.0,9.0,6.812500,172556,0,0.0,1,4,41.0
4,8601,0,2001,78.0,3.0,2.0,60,1.0,0.0,9.0,...,7903,8005.0,14.0,6.864865,7112,0,0.0,1,2,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,0,NaN,NaN,NaN,0,NaN,NaN,NaN,...,9602,NaN,NaN,25.000000,184568,0,0.0,0,1,12.0
95408,9601,1,5001,48.0,7.0,9.0,1,0.0,0.0,1.0,...,9603,NaN,NaN,20.000000,122706,0,0.0,1,1,2.0
95409,9501,1,3801,60.0,NaN,NaN,0,NaN,NaN,NaN,...,9410,9501.0,3.0,8.285714,189641,0,0.0,1,3,34.0
95410,8601,0,4005,58.0,7.0,NaN,0,NaN,NaN,NaN,...,8612,8704.0,4.0,12.146341,4693,1,18.0,1,4,11.0
95411,8801,2,1801,80.0,5.0,8.0,3,0.0,0.0,0.0,...,8803,8809.0,6.0,96.794872,185114,0,0.0,1,1,12.0

In [25]:
for col in numeric.columns:
    print(numeric[col].isna().sum())

0
0
0
23665
21286
44732
0
52854
52854
52854
52914
52854
52854
52854
52854
52854
52854
52854
52854
52854
52854
0
0
0
0
0
0
0
43823
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
132
132
132
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
0
1950
2191
33590
3557
8874
3511
11245
32748
10422
8923
40219
18867
65477
20364
27650
21263
24480
50200
35212
25648
56270
36973
0
0
0
0
0
73940
78678
80672
69712
72095
68418
75634
79535
74539
77674
73940
78678
80672
69712
72095
68418
75634
79535
74539
77674
0
0
0
0
0
0
0
0
0
0
9973
9973
0
0
0
0
0
0
132

In [26]:
toclean = df[['GEOCODE2', 'WEALTH1', 'ADI', 'DMA', 'MSA']]
toclean

      GEOCODE2  WEALTH1    ADI    DMA     MSA
0            C      NaN  177.0  682.0     0.0
1            A      9.0   13.0  803.0  4480.0
2            C      1.0  281.0  518.0     0.0
3            C      4.0   67.0  862.0  9340.0
4            A      2.0  127.0  528.0  5000.0
...        ...      ...    ...    ...     ...
95407        C      NaN    0.0  743.0   380.0
95408        A      9.0  201.0  618.0  3360.0
95409        B      NaN   61.0  551.0  4040.0
95410        A      NaN   13.0  803.0  8735.0
95411        C      8.0  355.0  550.0  9200.0

[95412 rows x 5 columns]

In [27]:
toclean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   GEOCODE2  95280 non-null  object
 1   WEALTH1   50680 non-null  float64
 2   ADI       95280 non-null  float64
 3   DMA       95280 non-null  float64
 4   MSA       95280 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.6+ MB

In [40]:
toclean.GEOCODE2 = toclean.GEOCODE2.fillna(toclean.GEOCODE2.value_counts().index[0])
toclean.GEOCODE2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 95412 entries, 0 to 95411
Series name: GEOCODE2
Non-Null Count  Dtype
--------------  -----
95412 non-null  object
dtypes: object(1)
memory usage: 745.5+ KB

/var/folders/6g/z7c4_v2s4x5g_4nmtry98b2c0000gn/T/ipykernel_3919/853721052.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  toclean.GEOCODE2 = toclean.GEOCODE2.fillna(toclean.GEOCODE2.value_counts().index[0])

In [41]:
toclean = toclean.drop('GEOCODE2', axis=1)
toclean.describe()

            WEALTH1           ADI           DMA           MSA
count  50680.000000  95280.000000  95280.000000  95280.000000
mean       5.345699    187.356402    664.004072   3527.744102
std        2.742490    137.019184    116.363600   2863.904737
min        0.000000      0.000000      0.000000      0.000000
25%        3.000000     65.000000    561.000000    520.000000
50%        6.000000    175.000000    635.000000   3350.000000
75%        8.000000    279.000000    801.000000   5960.000000
max        9.000000    651.000000    881.000000   9360.000000

In [34]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=3, weights='distance')

In [50]:
toclean = imputer.fit_transform(toclean)

In [51]:
toclean = pd.DataFrame({'WEALTH1': toclean[:, 0], 'ADI': toclean[:, 1], 'DMA': toclean[:, 2], 'MSA': toclean[:, 3]})

In [52]:
toclean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95412 entries, 0 to 95411
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   WEALTH1  95412 non-null  float64
 1   ADI      95412 non-null  float64
 2   DMA      95412 non-null  float64
 3   MSA      95412 non-null  float64
dtypes: float64(4)
memory usage: 2.9 MB